# Fichiers d'environnement sensibles
.env.local
.env.local.php
.env.*.local

# Secrets de prod Symfony
/config/secrets/prod/prod.decrypt.private.php

# Bundles et assets générés
/public/bundles/
/public/assets/
/assets/vendor/

# Dossiers de cache, logs, données locales
/var/
/logs/
/data/
/buildtest

# Vendor (sera regénéré par Composer sur Vercel ou ailleurs)
/vendor/

# Fichiers système et IDE
.DS_Store
.vscode

# PHPUnit et outils d'analyse
.phpunit.result.cache
/phpunit.xml
phpstan.neon

# Autres fichiers temporaires
/build/
.env
.env.local
www/.env
www/.env.local
